/* ===== Global Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== Page Background ===== */
body {
    background: #cbd6cb;
    padding: 20px;
}

/* ===== Top Image ===== */
.imageContainer {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

.imageContainer img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

/* ===== Table Styling ===== */
table {
    width: 100%;
    border: 1px solid black;
}

td {
    padding: 15px;
    border: 1px solid black;
}

/* first and third columns */
.first-col, .third-col {
    width: 200px;
}

/* second column */
.second-col{
    width: 600px;
    text-align: center;
}

/* ===== Image Styling Inside Cells ===== */
td img {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    display: block;
}

/* ======== Span element ======== */
p span {
    font-weight: bold;
}

h3 {
    margin: 10px 0;
}

/* List */
ol {
    padding-left: 20px;
}

/* Links */
a {
    color: #007bff;
    /* text-decoration: none; */
}